nul
.task
node_modules/
.wxt/
.output/
dist/
desktop/bin/
desktop-old
cryptocore/.hvigor/outputs/build-logs/
phone/.hvigor/outputs/build-logs/

harmony/.appanalyzer/appanalyzerCardConfig/
/zpass.code-workspace